@charset "UTF-8";
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Regular.eot");
  src: local("☺"), url("../fonts/Noto_Sans/NotoSans-Regular.woff2") format("woff2"), url("../fonts/Noto_Sans/NotoSans-Regular.woff") format("woff"), url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype"), url("../fonts/Noto_Sans/NotoSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Bold.eot");
  src: local("☺"), url("../fonts/Noto_Sans/NotoSans-Bold.woff2") format("woff2"), url("../fonts/Noto_Sans/NotoSans-Bold.woff") format("woff"), url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype"), url("../fonts/Noto_Sans/NotoSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/Myriad_Pro/myriadpro-bold.eot");
  src: local("☺"), url("../fonts/Myriad_Pro/myriadpro-bold.woff2") format("woff2"), url("../fonts/Myriad_Pro/myriadpro-bold.woff") format("woff"), url("../fonts/Myriad_Pro/myriadpro-bold.ttf") format("truetype"), url("../fonts/Myriad_Pro/myriadpro-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
html,
body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans";
}

p {
  margin-bottom: 10px;
}

.text {
  font-size: var(--default-fz14);
  line-height: 1.8571428571;
  font-weight: 400;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

._container {
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    bottom: 2rem;
    height: 50px;
  }
}
a.mouse_scroll:active, a.mouse_scroll:focus {
  outline: none;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.burger-btn {
  position: absolute;
  width: 33px;
  height: 28px;
  margin-right: 15px;
  top: 35px;
  right: 0;
  z-index: 1;
}
.burger-btn span, .burger-btn::before, .burger-btn::after {
  position: absolute;
  width: 100%;
  height: 17%;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.burger-btn::before, .burger-btn::after {
  content: "";
}
.burger-btn::before {
  top: 0;
}
.burger-btn::after {
  bottom: 0;
}
.burger-btn span {
  top: 50%;
  transform: translate(0px, -50%);
}
.burger-btn._active span {
  transform: scale(0) translate(0px, -50%);
}
.burger-btn._active::before, .burger-btn._active::after {
  top: 50%;
  height: 25%;
}
.burger-btn._active::before {
  transform: rotate(-45deg) translate(3px, -50%);
}
.burger-btn._active::after {
  transform: rotate(45deg) translate(-3px, -50%);
}

@media (min-width: 768px) {
  .burger-btn {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    left: -1000%;
    background: transparent;
    font-size: 0;
  }
}
.heading {
  font-family: "Noto Sans";
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  color: #0052c2;
}

.heading-white {
  color: var(--default-text-white);
}

.menu {
  position: absolute;
  left: -150%;
  background-color: rgba(6, 33, 55, 0.9);
  padding-top: 120px;
  width: 100%;
  text-align: center;
  top: 30px;
  transition: all 0.5s ease 0s;
}
.menu._active {
  top: 0px;
  left: 0;
  height: 100vh;
  transition: all 0.5s ease 0s;
}
.menu li {
  margin-bottom: 50px;
}
.menu__item a {
  color: var(--default-text-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
}
.menu__item a:active {
  color: var(--default-hover-orange);
}

@media (min-width: 768px) {
  .menu {
    position: static;
  }
}
.user-photo {
  height: 110px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 80px;
  box-shadow: 0px 0px 40px 0px #48779f;
}

@media (min-width: 768px) {
  .navigation {
    position: static;
  }
}
.contacts {
  font-family: icons;
  background-color: rgb(6, 90, 152);
}

.header {
  min-height: 100vh;
  padding: 30px 0 60px;
  background-image: url("../../img/bg/bg_header_767.jpg");
  background-size: cover;
}
.header__content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.header__text {
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--default-text-white);
}
.header__title {
  font-size: 26px;
  margin-bottom: 30px;
}
.header__subtitle {
  font-size: 16px;
}

.my__works {
  background-color: green;
}