@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto_Sans/NotoSans-Regular.eot');
	src: local('☺'), url('../fonts/Noto_Sans/NotoSans-Regular.woff2') format('woff2'), url('../fonts/Noto_Sans/NotoSans-Regular.woff') format('woff'), url('../fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype'), url('../fonts/Noto_Sans/NotoSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto_Sans/NotoSans-Bold.eot');
	src: local('☺'), url('../fonts/Noto_Sans/NotoSans-Bold.woff2') format('woff2'), url('../fonts/Noto_Sans/NotoSans-Bold.woff') format('woff'), url('../fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype'), url('../fonts/Noto_Sans/NotoSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/Myriad_Pro/myriadpro-bold.eot');
	src: local('☺'), url('../fonts/Myriad_Pro/myriadpro-bold.woff2') format('woff2'), url('../fonts/Myriad_Pro/myriadpro-bold.woff') format('woff'), url('../fonts/Myriad_Pro/myriadpro-bold.ttf') format('truetype'), url('../fonts/Myriad_Pro/myriadpro-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@import "base/null_styles";
@import "base/base";
@import "base/layout";
// @import "base/variables";

@import "blocks/arrow-down";
@import "blocks/burger-btn";
@import "blocks/button";
@import "blocks/card";
@import "blocks/definition-list";
@import "blocks/heading";
@import "blocks/menu";
@import "blocks/user-photo";
@import "blocks/navigation";
@import "blocks/social-icons";

@import "sections/contacts";
@import "sections/resume";
@import "sections/footer";
@import "sections/header";
@import "sections/works";