.header {
  min-height: 100vh;  
  padding: 30px 0 30px;  
  background-color: var(--default-text-blue-dark);  
  background-image: url('../../img/bg/bg_header_767.jpg');
  background-size: cover;
      
  &__content {
    position: relative;    
    z-index: 10;

    display: flex;
    flex-direction: column;    
  }

  &__text {
    font-weight: 700;
    letter-spacing: .5px;
    text-align: center;
    color: var(--default-text-white);
  }

  &__title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 18px;
  }

  &__photo {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 80px;
    box-shadow: 0px 0px 40px 0px #48779f;
  }
}