.resume {
  padding-top: 35px;
  padding-bottom: 35px;
  color: var(--default-text-black-near);
  border-bottom: 1px solid var(--default-border-bottom-sections);
  
  &__container {}

  &__photo {
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 40px;
    // margin-top: 20px;
    // overflow: hidden;
    // border-radius: 80px;
    // box-shadow: 0px 0px 40px 0px #48779f;

    // margin-top: 0;
    // margin-bottom: 0;
    // opacity: 0;
    // visibility: hidden;
    // width: 0px;
    // height: 0px;
    // display: block;
    // left: -1000%;
    // background: transparent;
    // font-size: 0;
  }
  
  &__title {}

  &__name {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 1;
    // font-weight: 700;
    // color: #010101;
  }

  &__col {margin-bottom: 35px;}

  &__descr {margin-bottom: 30px;}  

  &__item {}  
  
// Grid grid for tablets and desktops
  @media(min-width: 768px) {    
    &__container {
      display: grid;
      grid-template-rows: min-content auto min-content;
      grid-template-columns: 1fr 3fr;
    }
    &__photo {
      grid-column: 1/2;
      grid-row: 1/4;

      width: 110px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      margin-top: 20px;
      overflow: hidden;
      border-radius: 80px;
      opacity: 1;
      visibility: visible; 
      box-shadow: 0px 0px 40px 0px #48779f;

      // & img {
      //   width: 110px;
      // margin-left: auto;
      // margin-right: auto;
      // margin-bottom: 40px;
      // margin-top: 20px;
      // overflow: hidden;
      // border-radius: 80px;
      // opacity: 1;
      // visibility: visible; 
      // box-shadow: 0px 0px 40px 0px #48779f;
      // }

      .user-photo--big {
        width: 110px;
        height: 110px;
      }
    }
    &__about {    
      grid-column: 2/3;
      grid-row: 1/2;
      background-color: red;
    }
    &__row {
      grid-column: 2/3;
      grid-row: 2/3;
      display: flex;

      background-color: blue;      
    }

    .resume__button {
      grid-column: 2/3;
      grid-row: 3/4;
      background-color: gray;

    }
  }  
}