// .works {
//   padding: 35px 0px 47px;
//   border-top: 1px solid var(--default-border-bottom-sections); 

//   &__title {
//     margin-bottom: 33px;
//     line-height: 1.2;
//     text-align: center;
//   }

//   &__categories {
//     margin-bottom: 30px;
//     text-align: center;

//     & li {    
//       margin-bottom: 33px;
//       font-size: 16px;
//       font-weight: 700;
//       line-height: 1;
//       text-transform: uppercase;
//       color: var(--default-color-categories);

//       &:last-child {margin-bottom: 0;}

//       &:hover {
//         padding: 10px 20px;    
//         color: #010101;
//         border: 2px solid var(--default-text-blue-dark);
//       }
//     }
//   }  

//   &__col {margin-bottom: 40px;}

//   &__col:last-child {margin-bottom: 0;}
  
//   .filter {cursor: pointer;}
// }
// ==========================================================
.works {
  text-align: center;

  &-filter {
    font-family: 'Noto Sans';
    font-size: 16px;
    // line-height: 34px;
    font-weight: 700;
    text-transform: uppercase; 
    padding-top: 20px;
    margin-bottom: 20px; 
    
    &__element {
      display: block;
      cursor: pointer; 
      margin-bottom: 10px; 
      
      &:last-child {margin-bottom: 0;}

      .filter {
        display: inline-block;
        color: #cecece;
        padding: 12px 31px 15px;

        &--active {
          color: #000;
          border: 2px solid var(--default-text-blue-dark);
          padding: 0 15px;
        }
      }
    }
  }   
}