.button {
  display: inline-block;
  background-color: var(--default-text-blue-dark);
  padding: 15px 20px;
  color: #fff;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  box-shadow: 1px 3px 15px 0px rgba(0,82,194,0.5);
}

.fa {margin-right: 7px;}

.fa-download {}