.definition-list {
  margin-top: 15px;  

  &__item {
    margin-bottom: 23px;
  }

  &__item:last-child {
    margin-bottom: 0;    
  }

  &__period {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #0052c2;
  }

  &__descr {line-height: calc(22 / 14);}
}