.heading {
  font-family: 'Noto Sans';
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  color: var(--default-text-blue-dark);  

  &--medium {  
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: #010101;    
  }
  
  &--white {
    color: var(--default-text-white);
  }
}



