// html {scroll-behavior: smooth;}
html,
body {
  // width: 100%;
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: var(--default-fz14); 
  // position: relative; 
}

body {  
  // overflow: hidden;
  font-family: 'Noto Sans', serif, sans-serif;
}

.grid > * {
  min-width: 0;
}

.hidden {display: none;}
.hide {
  animation-name: a1;
  animation-duration: 2ms;
}
@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
  } 
}