// html {scroll-behavior: smooth;}
html,
body {  
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: var(--default-fz14);   
}

body {   
  font-family: 'Noto Sans', serif, sans-serif;
}

.grid > * {
  min-width: 0px;
  margin: 0px auto;
}

.hidden {display: none;}
.hide {
  opacity: 1;
  animation-name: a1;
  animation-duration: 2s;
  animation-fill-mode: forwards;  
}
@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
  } 
}

.act {
  background-color: green;
  padding: 3px 5px;
  font-weight: 600;
  width: 30px;  
}