.wrapper {
   min-height: 100%;
   overflow: hidden;
   
   display: grid;
   grid-template-rows: auto 1fr auto;
}

._container {
   max-width: 1100px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}